APP_ENV=dev
APP_PORT=8080
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=jira_release_bot
DB_USERNAME=jira_release_bot
DB_PASSWORD=jira_release_bot
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
JIRA_BASE_URL=https://your-company.atlassian.net
JIRA_EMAIL=release-bot@example.com
JIRA_API_TOKEN=replace-me
JIRA_PROJECT_KEY=PROJ
SLACK_TRANSPORT=incoming_webhook|workflow_trigger
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ
SLACK_CHANNEL=
SLACK_USERNAME=Release Bot
SLACK_ICON_EMOJI=:rocket:
SLACK_DEVELOPERS_CHECK_TEXT=
SLACK_REPORTERS_CHECK_TEXT=
SLACK_REPORTERS_EXTRA_USER_IDS=
